.section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.section header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section main {
  /* min-height: 500px; */
  background: #1f2833;
  /* background: #c5c6c7; */
}

.section .items {
  padding: 50px;
}

.section .items .item {
  /* height: 250px; */
  border-radius: 20%;
  width: 20%;
  border: 3px solid #c5c6c7;
  color: #66fcf1;
  /* background: #0b0c10; */
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.section .items .item img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20%;
}
.section .items .top,
.section .items .bottom {
  display: flex;
}

@keyframes slideAbove {
  0% {
    transform: rotate(0) translateY(0%);
  }
  100% {
    transform: rotate(0) translateY(-20%);
    z-index: 10;
  }
}

.section .items .item:hover {
  animation: slideAbove 1s infinite 0s linear;
}

.section .items .top .item:nth-child(2n),
.section .items .bottom .item:nth-child(2n + 1) {
  /* background: #666; */
  background: #2e9cca;
  transform: scale(1.1);
}

.section .items .top .item:nth-child(2n + 1),
.section .items .bottom .item:nth-child(2n) {
  background: #fff;
}

.section .items .bottom {
  position: relative;
  top: -50px;

  z-index: 1;
}
