.sign-up {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.sign-up {
  margin: 2em;
  margin-top: 5em;
}

.form-group {
  position: relative;
  margin: 45px 0;
}

.form-input {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

.form-input:focus {
  outline: none;
}

.form-input:focus ~ .form-input-label {
  top: -14px;
  font-size: 12px;
  color: black;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

.form-input-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}
.form-input-label.shrink {
  top: -14px;
  font-size: 12px;
  color: black;
}

/* Form Buttons */
.form-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.form-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.form-button.google-button {
  background-color: #4285f4;
  color: white;
}

.form-button.google-sign-up:hover {
  background-color: #357ae8;
  border: none;
}
