.cart-items {
  min-height: 400px;
  max-height: 400px;
  background: white;
  padding: 10px;
  margin: 2px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.cart-checkout {
  padding: 10px;
  margin: 2px;
}

.checkout-button {
  margin-top: -2px;
  width: 100%;
  display: flex;
  background: white;
  justify-content: center;
  padding: 1em;
}

.cart-empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
