.cart-items {
  width: auto;
  height: 550px;
  background: white;
  padding: 10px;
  margin: 2px;
  overflow: scroll;
}

.cart-checkout {
  padding: 10px;
  margin: 2px;
}

.checkout-button {
  margin-top: -2px;
  width: 100%;
  display: flex;
  background: white;
  justify-content: center;
  padding: 1em;
}
