.navbar {
  * {
    overflow: visible;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: auto;
  background-color: #242323;

  .navbar-top {
    background-color: rgba(1, 1, 1, 0.2);
    .container {
      width: 70%;
      margin: 0 auto;
      padding: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .navbar-collapse {
        display: none;
      }

      .appname {
        margin-left: 0;
        margin-right: auto;
        color: #939393;
        font-family: "Sarina", "cursive";
        font-size: large;
      }
      .text {
        color: #939393;
        margin: 0 10px;
        padding: 0 10px;
        font-size: large;
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
      }

      a {
        text-decoration: none;
        color: #939393;
        vertical-align: top;
        font-size: large;
        margin-right: 10px;
        display: flex;
        align-items: center;
        svg {
          width: 25px;
          height: 25px;
          margin-right: 10px;
          color: #fff;
        }

        .cartdisable {
          pointer-events: none;
        }

        .userProfile {
          position: relative;
          .username {
            color: #939393;
            span {
              font-size: larger;
              color: #939393;
            }
          }
          .dropdown {
            position: absolute;
            bottom: -45px;
            right: 0;
            z-index: 3000;
            background-color: #939393;
            color: #242323;
            padding: 5px;
          }
        }
      }
    }
  }

  .navbar-bottom {
    .container {
      width: 70%;
      margin: 0 auto;
      padding: 10px;
      .bottom-navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        a {
          text-decoration: none;
          color: #939393;
          font-size: large;
          margin-right: 10px;
          padding: 10px;
          &.active {
            color: #242323;
            font-weight: 600;
            border-radius: 5px;
            &:hover {
              color: #fff;
            }
          }
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 964px) {
  .navbar {
    .navbar-top {
      .container {
        .text {
          &.invisible-on-mobile {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 663px) {
  .navbar {
    .navbar-top {
      .container {
        width: 90%;
        .navbar-collapse {
          display: block !important;
          font-size: 1.5em;
          border-radius: 25px;
          width: 10%;
          height: 10%;
          line-height: 1.8em;
          min-width: 40px;
          min-height: 40px;
          color: #242323;
          background-color: #939393;
          box-shadow: inset 2px 2px 2px #242323, inset -2px -2px 2px #242323;
          cursor: pointer;
          margin-right: 10px;
        }

        .appname {
          text-align: left;
        }
        a {
          flex-direction: column;
          svg {
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  .navbar-bottom {
    .container {
      padding: 0 !important;
      .bottom-navbar {
        display: none !important;
      }
    }
  }
}

@media (max-width: 490px) {
  .navbar {
    .navbar-top {
      .container {
        width: 98%;
        .appname {
          text-align: left;
        }
        a {
          flex-direction: column;
          svg {
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}
