.footer-section {
  font-size: medium;
  width: 100%;
  height: auto;
  background-color: #242323;
  padding-top: 20px;
  .backtotop {
    color: #939393;
    &:hover {
      color: #fff;
    }
  }
  .container {
    padding: 10px 30px;
    padding-top: 20px;
    border: none;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    .extra-links {
      width: 19%;
      margin-right: 1%;
      h4 {
        margin-bottom: 10px;
        color: #fff;
        text-align: left;
      }

      ul {
        list-style: none;
        padding: 0;
        li {
          font-family: monospace;
          color: #939393;
          text-align: left;
          a {
            text-decoration: none;
            cursor: pointer;
            font-family: monospace;
            color: #939393;
          }
        }
      }
      &.social-links {
        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
        a svg {
          width: 25px;
          height: 25px;
          margin-right: 5px;
        }

        .githubsvg {
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }
  }

  .footer-bottom {
    border-top: 3px solid #939393;
    padding: 10px 30px;
    font-size: larger;
    color: #939393;

    background-color: rgba(31, 40, 51, 0.2);
  }
}

@media (max-width: 1000px) {
  .footer-section {
    .container {
      width: 80%;
    }
  }
}

@media (max-width: 799px) {
  .footer-section {
    .container {
      width: 90%;
      justify-content: space-evenly;
      .extra-links {
        width: 24%;
        margin-top: 20px;
      }
    }

    .footer-bottom {
      font-size: medium;
    }
  }
}

@media (max-width: 526px) {
  .footer-section {
    .container {
      width: 100%;
      justify-content: space-between;
      .extra-links {
        width: 44%;
      }
    }

    .footer-bottom {
      font-size: small;
    }
  }
}
