.homepage {
  overflow-x: hidden;
  width: 98vw;
  padding: 0;
  margin: 0;
  padding-top: 11rem;
  .container {
    width: 60%;
    margin: 0 auto;
    // background: #aaa;

    .heading {
      h2 {
        font-family: "Sarina", "cursive";
        font-size: xx-large;
        margin-bottom: 10px;
      }
    }
    // temp
    .slideshow {
      height: 400px;
      width: 100%;
      background-color: #aaa;
      margin-top: 40px;
    }
    // ...

    .homepage-sections {
      .homepage-section {
        display: flex;
        width: 100%;
        position: relative;
        margin: 20px 0;
        &:nth-child(2n) {
          justify-content: flex-start;
          background: #dba7db;

          .homepage-section-outer-box {
            right: 4% !important;
          }
        }
        &:nth-child(2n + 1) {
          justify-content: flex-end;
          background: #a3c7bd;
          .homepage-section-outer-box {
            left: 4% !important;
          }
        }
        img {
          width: 55%;
          margin-right: 0;
          height: 80vh;
        }
        .homepage-section-outer-box {
          position: absolute;
          top: 20vh;
          border: 3px solid #aaa;
          background: rgba(31, 40, 51, 0.6);
          box-shadow: 3px 3px 3px #222;

          padding: 10px;
          width: 60%;
          height: 45vh;
          .homepage-section-inner-box {
            width: 100%;
            height: 100%;
            background: gray;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .texta {
              font-weight: bolder;
              color: #222;
              font-size: 2em;
              text-transform: uppercase;
              margin-bottom: 6vh;
            }

            .textb {
              font-size: larger;
              margin-bottom: 3vh;
              padding: 0px 60px;
            }
            .homepage-section-button {
              text-decoration: none;
              cursor: pointer;
              padding: 20px;
              color: #939393;
              background-color: #111;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .homepage {
    padding-top: 12rem;
    * {
      overflow: visible;
    }

    .container {
      width: 70%;
      margin: 0 auto;
      // background: #aaa;
      // background: #aaa;
      .homepage-sections {
        .homepage-section {
          img {
            height: 52vh;
          }

          .homepage-section-outer-box {
            top: 5vh;
            height: 40vh;
          }
        }
      }
    }
  }
}

@media (max-width: 971px) {
  .homepage {
    padding-top: 12rem;
    .container {
      .homepage-sections {
        .homepage-section {
          img {
            width: 60%;
            margin-right: 0;
            height: 45vh;
          }
          .homepage-section-outer-box {
            top: 5vh;
            height: 30vh;
            .homepage-section-inner-box {
              .texta {
                font-weight: bolder;
                color: #222;
                font-size: 1.5em;
                text-transform: uppercase;
                margin-top: 25px;
                margin-bottom: 20px;
              }

              .textb {
                font-size: larger;
                margin-bottom: 10px;
                padding: 0px 20px;
              }

              .homepage-section-button {
                text-decoration: none;
                cursor: pointer;
                padding: 20px;
                color: #939393;
                background-color: #111;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 695px) {
  .homepage {
    padding-top: 8rem;

    .container {
      width: 90%;
    }
  }
}

@media (max-width: 545px) {
  .homepage {
    .container {
      .homepage-sections {
        .homepage-section {
          img {
            width: 50%;
          }
          &:nth-child(2n + 1) {
            .homepage-section-outer-box {
              order: -1;
            }
          }

          .homepage-section-outer-box {
            height: 45vh;
            position: initial;
            .homepage-section-inner-box {
              .texta {
                font-weight: bolder;
                color: #222;
                font-size: 1.5em;
                text-transform: uppercase;
                margin-top: 25px;
                margin-bottom: 20px;
              }

              .textb {
                font-size: medium;
                margin-bottom: 40px;
                padding: 0px 5px;
              }

              .homepage-section-button {
                text-decoration: none;
                cursor: pointer;
                padding: 20px;
                color: #939393;
                background-color: #111;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 381px) {
  .homepage {
    .container {
      .homepage-sections {
        .homepage-section {
          img {
            height: 40vh;
          }
          .homepage-section-outer-box {
            height: 40vh;
            .homepage-section-inner-box {
              .textb {
                margin-bottom: 10px;
                padding: 0px 5px;
              }

              .homepage-section-button {
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
}
