.App {
  width: 100vw;
  height: auto;
  text-align: center;
  // background: url("./assets/background.jpg") repeat 0 0 fixed;
  // background-attachment: fixed;
  // background-size: cover;
  .container {
    width: 70%;
    margin: 0 auto;
  }
}
