* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: "Spinnaker", sans-serif;
  color: #2f3345;
  word-break: keep-all;
}

/* width */
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #fafaff;
}

*::-webkit-scrollbar-thumb {
  background: #253486;
}

*::-webkit-scrollbar-thumb:hover {
  background: #1236ff;
}
