* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: "Spinnaker", sans-serif;
  color: #2f3345;
  word-break: keep-all;
  text-align: center;
  /* overflow-x: hidden; */
}

/* width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #2f3345;
}

*::-webkit-scrollbar-thumb {
  background: #939393;
}

*::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
