.cart-item-header {
  width: 55%;
  margin: 1em auto 0;
  display: flex;
  align-content: center;
  justify-content: center;
  border-bottom: 3px solid black;
}

.cart-item-header .heading {
  width: 23%;
  padding: 1em;
}

.cart-item-header .heading:last-child {
  width: 8%;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  width: 55%;
  margin: 2em auto 1em;
}

.stripe {
  display: flex;
  flex-direction: column;
}

.stripe-card-help pre {
  font-weight: bold;
  color: blue;
  width: 70%;
  font-size: 1.2em;
  margin: 1em auto;
}

.stripe-btn {
  width: 10%;

  margin: 1em auto;
}
