.form-button {
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.form-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.form-button.google-button {
  background-color: #4285f4;
  color: white;
}

.form-button.google-button:hover {
  background-color: #357ae8;
  border: none;
}

.form-button.addtocart-button {
  background-color: salmon;
  opacity: 0.7;
  border: none;
  color: white;
}
