.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: 0 auto;
  border-bottom: 3px solid black;
}

.cart-item .property {
  width: 23%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  padding: 15px;
}

.cart-item .property:last-child {
  width: 8%;
}

.cart-item img {
  width: 100%;
  height: 100%;
}

.cart-item .property.remove {
  text-align: center;
  cursor: pointer;
}

.property.quantity {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 1.5em;
  border: 3px solid red;
}

.property.quantity div {
  padding: 0.6em;
}

.property.quantity div.arrow {
  cursor: pointer;
}
